.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.item {
  height: 400px;
}
.normal{
  margin-top: 25px;
}
table {
  font-family: sans-serif;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ece9e0;
  color: #1d70ce;
  border: 16px solid #1d70ce;
  border-radius: 20px;
  }
  th {
  font-size: 18px;
  padding: 10px;
  }
  td {
  background:#0db1c7;
  padding: 10px;
  }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
